<script>
  window.requestCount = window.requestCount || 0;
  window.totalRequests = window.totalRequests || 0;
  window.completedRequests = window.completedRequests || 0;

  document.addEventListener("turbo:before-fetch-request", function (event) {
    // This code will run when a Turbo Frame starts fetching content
    document.getElementById("progress").style.display = "block";
    window.totalRequests += 1;
    window.requestCount += 1;
  });

  document.addEventListener("turbo:before-fetch-response", function (event) {
    // This code will run when a Turbo Frame finishes fetching content
    window.completedRequests += 1;
    let percentage = (window.completedRequests / window.totalRequests) * 100;
    document.getElementById("progress-bar").ariaValueNow = percentage;
    document.getElementById("progress-bar").style =
      "width: " + percentage + "%";
    if (window.completedRequests == window.totalRequests) {
      setTimeout(() => {}, 1000);
      document.getElementById("progress").style.display = "none";
    }
  });
</script>
<div id="progress" style="display: none">
  <div
    class="progress progress-bar-striped progress-bar-animated"
    style="height: 10px"
  >
    <div
      id="progress-bar"
      class="progress-bar"
      role="progressbar"
      style="width: 0%"
      aria-valuenow="0"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
</div>
