{% extends "base.html" %} {% block content %}
<turbo-frame id="account_data">
  <div class="container mt-4">
    <form method="POST" action="/session_account_selected">
      <div class="form-group">
        <label for="accountSelect">Select Account</label>
        <select class="form-control" id="accountSelect" name="accountId">
          {% for account in accounts_data %}
          <option value="{{ account.accountId }}">
            {{ account.accountDesc }}
          </option>
          {% endfor %}
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</turbo-frame>
<turbo-frame id="session_account_selected"> </turbo-frame>
{% endblock %}
