<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <img
          class="card-img-top"
          src="data:image/png;base64,{{ moving_averages }}"
          alt="Moving Averages"
        />
        <div class="card-body">
          <h5 class="card-title">Moving Averages</h5>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card">
        <img
          class="card-img-top"
          src="data:image/png;base64,{{ total_return }}"
          alt="Total Return"
        />
        <div class="card-body">
          <h5 class="card-title">Total Return</h5>
        </div>
      </div>
    </div>
  </div>
</div>
